/*
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-dark-yellow);
  color: var(--clr-mint);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}*/

a {
  cursor:pointer;
}

html {
  font-family: Montserrat;
  background: var(--brand-purple);
}

body {
  color: var(--brand-white);
  height: 100%;
}

/*p {
  max-width: 50ch;
}*/

:root {
  --brand-purple: #1b203d;
  --brand-white: #fff;
  --brand-light-gray: #bac5cf;
  --brand-green: #1fc742;
  --brand-black: #7fff00;
  --container-width: 1180px;
}

.bread-crumb-container {
  display: inline-block;
}

.bread-crumb {
  display: flex;
  justify-content: space-between;
  height: 20px;
  background: var(--brand-light-gray);
  text-justify: distribute;
  /*border: 1px solid chartreuse;*/
}

.bread-crumb li:after {
  content: "  >  ";
  padding-left: var(--gutter-sml);
  padding-right: var(--gutter-sml);
  border: 1px solid c;
}

.bread-crumb li:last-child::after {
  content: "";
}

.col {
  /*flex: 20%;
  /*padding: 5px;*/
  /*flex-basis: 100%;*/
  /*border: 1px solid chartreuse;*/
  /*justify-content: space-evenly;*/
  text-align: center;
}
.col img {
  border-radius: 10%;
}
/*
.col img:after {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  
}
.col img:hover:after {
  opacity: 0;
}
*/
.subsections {
  display: flex;
  /*max-width: 1180px;*/
  margin: 10px auto;
  text-justify: center;
} /*
.col2 img {
  border-radius: 10%;
  border: 3px solid red;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-justify: left;
}

@media (max-width: 1080px) {
  .col2 {
    border: 3px solid red;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-justify: left;
  }
}*/

.col2 {
  display: inline-block;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 8px;
  padding: 8px;
}

.col2 img {
  border-radius: 10%;
  padding: 8px;
}
@media (max-width: 810px) {
  .categories-pic {
    max-width: 400px; 
  }
  .subsections {
    flex-wrap: wrap;
  }
}

@media (max-width: 533px) {
  .col2 {
    margin: 0 auto;
  }
  .col2 {
    display: block;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*product css*/

.product-container {
  /*border: 1px solid hotpink;*/
  display: flex;
  text-justify: auto;
  text-align: center;
  width: auto;
  max-width: 1180px;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-top: 10px;
  position: relative;
}

#productimg {
  max-height: 400px;
  max-width: 100%;
  border-radius: 10%;
}

.imagecontainer {
  max-width: 40%;
  margin-right: 10px;
}

.description {
  justify-content: right;
  text-align: left;
  max-width: 40%;
  /*border: red solid 10px;*/
  margin-left: 10px;
  display: inline-block;
}

button {
  color: var(--brand-white);
  background: var(--brand-green);
  border-radius: 5%;
  padding: 5px;
  margin: 0 auto;
  display: inline-block;
  cursor:pointer;
}

h2 {
  color: var(--brand-green);
  align-items: center;
}

.buttoncontainer {
  height: 10px;
  width: 20px;
  /*border: 3px solid red;*/
}

@media (max-width: 810px) {
  .product-container,
  .imagecontainer,
  .description {
    justify-content: center;
    margin: 0 auto;
  }

  #productimg {
    max-width: 80%;
    max-height: 250px;
  }

  .imagecontainer {
    align-items: center;
  }

  .description {
    text-align: center;
    max-width: 90%;
  }

  .product-container {
    max-width: 90%;
    font-size: 12px;
    display: block;
  }
}

/*product css end*/

/*CART CSS START*/

.cart-container {
  justify-content: center;
  width: 72%;
  background-color: var(--brand-purple);
}

/*CART CSS END*/

#logoicon {
  margin: 10px 0 0 0;
  display: inline-flex;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header,
footer {
  background-color: var(--brand-light-gray);
  width: 100%;
  display: block;
  height: 160px;
}

#corporate-container {
  /*border: 1px solid cyan;*/
  margin: 8px auto;
  padding: 8px;
  align-items: left;
}

.corporate-container-2 {
  margin: 8px auto;
  padding: 8px;
  text-align: center;
}

.must {
  color: red;
}
.nomust {
  color: transparent;
}

.textfield input {
  width: 300px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  margin: 8px;
  padding: 8px;
}

@media only screen and (max-width: 900px) {
  .corporate-container-2 {
    text-align: center;
    align-content: center;
    margin: 8px;
  }
}

#qntcnt {
  max-width: 30px;
}
#promo {
  width: 50px;
}


.inner_header {
  max-width: 1180px;
  margin: 0 auto;
  background-color: var(--brand-light-gray);
  height: 160px;
  /*border: 1px solid chartreuse;*/
}

/*.shortfooter {
  bottom: 0;
  text-align: center;
  height: 125px;
  /*border: violet 1px solid;*/
/* display: block;
  width: 100%;
}*/

nav {
  background: var(--brand-light-gray);
  height: 140px;
  width: 100%;
}

.logo {
  margin-top: 10px;
}

.container,
.grid-container {
  margin: 20px auto;
  max-width: 1180px;
  width: auto;
  height: fit-content;
}

.container {
  text-align: center;
}

.topcontainer {
  /*border: 1px solid hotpink;*/
  display: flex;
  text-align: center;
  width: auto;
  max-width: 1180px;
  margin: 20px auto;
  justify-content: space-between;
}

.spacer {
  width: 20px;
  height: 20px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: var(--brand-purple);
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

:active,
a:hover {
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: var(--brand-purple);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.searchbar1 {
  width: 368px;
  height: 34px;
}

.searchbar {
  display: flex;
  justify-content: space-around;
  /*border: 1px solid red;*/
  align-items: center;
  background: white;
  border-radius: 20px;
}

.inner {
  max-width: 1080px;
}

.search {
  width: 300px;
  border: none;
  height: 30px;
  margin-left: 15px;
}

.searchbar img {
  margin-left: 10px;
}

.searchbox {
  display: flex;
  justify-content: center;
}

.col {
  flex: 20%;
  padding: 5px;
  flex-basis: 100%;
  /*border: 1px solid chartreuse;*/
  justify-content: space-evenly;
  text-align: center;
  min-width: 50px;
}

.image1 {
  /*border: 1px solid chartreuse;*/
}

.image2 {
  display: none;
}

@media only screen and (max-width: 767px) {
  .image1 {
    display: none;
  }

  .image2 {
    display: flex;
    justify-content: space-between;
  }
  p {
    font-size: 1em;

  }

  .searchbar1 {
    width: 260px;
    height: 34px;
  }
  .search {
    width: 220px;
  }

  .col {
    margin: 0;
    padding: 0;
  }

  img#logoicon {
    margin-left: 15px;
  }
  .bread-crumb-container {
    margin-left: 15px;
  }
}

/*START CSS ALL GAMES START*/

#grid div {
  display: inline-block;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 8px;
}

@media (max-width: 533px) {
  .gamepic {
    margin: 0 auto;
  }
  #grid div {
    display: block;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*.gamepic {
  width: 100%;
}*/

*.icon {
  width: 12px;
  margin: 0 auto;
  vertical-align: middle;
}

.grid-item {
  height: fit-content;
  /*margin: 0.5em 0.5em;*/
  text-align: center;
  display: flex;
  /*max-width: fit-content;*/
}

.picbox,
.textbox,
.cart-items,
.icon {
  margin: 0 auto;
  padding: 0;
  /*border: 1px solid cyan;*/
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.textbox {
  width: fit-content;
  text-align: center;
}

/*.buttonbox {
  margin: 0 auto;
  display: block;
border: 2px solid red;
}*/

.button-sml {
  cursor: pointer;
  color: var(--brand-white);
  background: var(--brand-green);
  /*border-radius: 20%;
  /*padding: 5px 2px;
  margin: 0 auto;*/
  font-size: 10px;
  width: 130px;
  height: 30px;
  display: block;
}

.gamepic {
  border-radius: 10%;
  max-width: 220px;
  display: flex;
  align-items: center;
}

.icon {
  height: 16px;
  /*border: cyan 1px solid;*/
  display: inline-block;
  align-self: center;
}
/*
@media (max-width: 767px) {
  p {
    text-align: left;
  }

  #grid div {
    display: flex;
    justify-content: space-evenly;
  }

  .gamepic {
    width: 220px;
  }

  *.icon {
    width: 12px;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    max-width: 220px;
    margin: 1.5em 1.5em;
  }
}*/

/*@media (max-width: 767px) {
  #grid div {
    align-items: center;
    border: 1px solid chartreuse;
  }
}*/

/*END CSS ALL GAMES END*/

@media (max-width: 1080px) {
  label.logo {
    font-size: 30px;

    /*border: 1px solid gold;*/
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 929px) {
  nav ul li a {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    /*height: 100vh;*/
    background: var(--brand-light-gray);
    /*top: 140px;*/
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    border: 1px solid var(--brand-purple);
  }
  a:hover,
  a.active {
    background: var(--brand-green);
    color: var(--brand-purple);
  }
  #check:checked ~ ul {
    left: 0;
    z-index: 5;
  }
}


footer {
  text-align: center;
  border: 3px solid red;
  height: 160px;
  display: block;
  width: 100%;
  margin-top: 150px;
  bottom: 0;
}



    .corporate-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      width: 400px;
      max-width: 100%;
      margin: 8px auto;
    }

    /*.form {
      padding: 30px 40px;
      border: 2px solid red;
    }*/

    .form-header {
      text-align: center;
    }

    .account-form {
      padding: 8px 16px;
    }

    .form-control {
      margin-bottom: 10px;
      /*padding-bottom: 10px;*/
      position: relative;
      text-align: center;
    }

    .form-control label {
      /* display: inline-block;*/
      margin-bottom: 5px;
    }

    .form-control input {
      border: 2px #f0f0f0;
      border-radius: 4px;
      display: block;
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }

    .form-control.success input {
      border: 3px solid var(--brand-green);
    }

    .form-control.error input {
      border: 3px solid red;
    }

    .form-control i {
      position: absolute;
      top: 30px;
      right: 10px;
      visibility: hidden;
    }

    .form-control.success i.fa-check-circle {
      color: var(--brand-green);
      visibility: visible;
    }

    .form-control.error i.fa-exclamation-circle {
      color: red;
      visibility: visible;
    }

    .form-control small {
      visibility: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .form-control.error small {
      color: red;
      visibility: visible;
    }

 .shop-item {
  display: inline-block; 
  align-items: flex; 
  padding: 16px;
  margin: 8px;
 }

